body { overflow-x: hidden; }

body.overflow { overflow: hidden; }

/* ie scrollbar */
/* chrome scrollbar */
::-webkit-scrollbar { width: 5px; height: 5px; }

::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment { display: block; width: 20px; height: 1px; background: #ddd; }

::-webkit-scrollbar-track { background: #ddd; }

::-webkit-scrollbar-thumb { background: #aaa; border-radius: 50px; }

.scroll-box { overflow-y: auto; /* firefox */ scrollbar-width: thin; scrollbar-color: #aaa transparent; }

.scroll-box::-webkit-scrollbar-track { background: #eee; }

.scroll-box::-webkit-scrollbar { width: 9px; height: 5px; }

.scroll-box::-webkit-scrollbar-thumb { background: #ccc; border-radius: 0; }

.small { font-size: 0.8em; }

.big { font-size: 1.3em; }

/* header */
#container { width: 100%; position: relative; }

#header { position: fixed; z-index: 10; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; top: 0; left: 0; }

#header .hd-bottom { position: relative; width: 100%; height: 82px; overflow: hidden; -webkit-transition: .4s ease; transition: .4s ease; -webkit-box-sizing: border-box; box-sizing: border-box; }

#header .bottom-inner { height: 100%; max-width: 1230px; margin: 0 auto; width: 93%; }

#header #logo { margin-top: 26px; -webkit-transition: .3s ease; transition: .3s ease; display: inline-block; float: left; margin-left: 80px; }

#header #logo a { display: block; width: 204px; height: 24px; background: url("../images/common/logo.png") no-repeat center; background-size: cover; text-indent: -99999px; background-size: contain; -webkit-transition: .2s ease; transition: .2s ease; }

#header .mobile-menu { position: absolute; right: 100px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 50px; height: 50px; text-indent: -99999px; background: #333; text-align: center; z-index: 2; -webkit-transition: .4s ease; transition: .4s ease; display: none; }

#header .mobile-menu span { position: absolute; left: 50%; top: 50%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); display: inline-block; width: 26px; height: 26px; text-align: center; }

#header .mobile-menu i { width: 100%; height: 3px; border-radius: 100px; background-color: #fff; display: inline-block; -webkit-transition: .4s ease; transition: .4s ease; position: absolute; top: calc(50% - 4px); left: 0; }

#header .mobile-menu i:first-child { margin-top: 9px; left: auto; right: 0; width: 20px; }

#header .mobile-menu i:last-child { margin-bottom: 9px; }

#header .mobile-menu.gnb-close i { top: 50%; background-color: #333; }

#header .mobile-menu.gnb-close i:first-child { margin-top: 0; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); width: 26px; }

#header .mobile-menu.gnb-close i:last-child { margin-bottom: 0; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

#header .hd-bottom .quick-list { position: absolute; left: 80px; margin-top: 40px; }

#header .hd-bottom .quick-list li { margin-top: 10px; }

#header .hd-bottom .quick-list li:first-child { margin-top: 0; }

#header .hd-bottom .quick-list a { -webkit-transition: .3s ease; transition: .3s ease; position: relative; font-size: 14px; color: #fff; background-color: #666; border-radius: 100px; display: inline-block; padding: 4px 24px 4px 10px; }

#header .hd-bottom .quick-list a::before { content: ''; width: 8px; height: 8px; background: url("../images/common/ico_newtab.png") no-repeat center; display: inline-block; position: absolute; right: 10px; top: 8px; -webkit-transition: .3s ease; transition: .3s ease; }

#header .hd-bottom .quick-list a:hover { background-color: #454545; }

#header .hd-bottom .quick-list a:hover::before { -webkit-transform: translate3d(2px, -2px, 0); transform: translate3d(2px, -2px, 0); }

#header .right-btn-box { position: absolute; right: 40px; top: 28px; -webkit-transition: .3s ease; transition: .3s ease; }

#header .right-btn-box li { display: inline-block; vertical-align: middle; margin-left: 2px; }

#header .right-btn-box li:first-child { margin-left: 0; }

#header .right-btn-box a { -webkit-transition: .3s ease; transition: .3s ease; display: inline-block; font-size: 14px; color: #fff; padding: 5px 10px 5px 32px; border-radius: 100px; background-repeat: no-repeat; background-position: 10px center; }

#header .right-btn-box .join { background-image: url("../images/common/ico_join.png"); }

#header .right-btn-box .login { background-image: url("../images/common/ico_login.png"); }

#header .right-btn-box .logout { background-image: url("../images/common/ico_logout.png"); }

#header .right-btn-box a:hover { background-color: #eee; }

#header::before { content: ''; width: 100%; height: 1px; background-color: #ccc; position: absolute; left: 0; top: 81px; -webkit-transition: .3s ease; transition: .3s ease; opacity: 0; z-index: 1; }

body.pc #header:hover #logo a, #header.white #logo a, .sub #header #logo a { background-image: url("../images/common/logo_color.png"); }

body.pc #header:hover .hd-bottom + .right-btn-box, body.pc #header.white .hd-bottom + .right-btn-box, .sub #header .hd-bottom + .right-btn-box { display: block; }

body.pc #header:hover .hd-bottom + .right-btn-box a, body.pc #header.white .hd-bottom + .right-btn-box a, .sub #header .hd-bottom + .right-btn-box a { color: #333; }

body.pc #header:hover .hd-bottom + .right-btn-box .join, body.pc #header.white .hd-bottom + .right-btn-box .join, .sub #header .hd-bottom + .right-btn-box .join { background-image: url("../images/common/ico_join_black.png"); }

body.pc #header:hover .hd-bottom + .right-btn-box .login, body.pc #header.white .hd-bottom + .right-btn-box .login, .sub #header .hd-bottom + .right-btn-box .login { background-image: url("../images/common/ico_login_black.png"); }

body.pc #header:hover .hd-bottom + .right-btn-box .logout, body.pc #header.white .hd-bottom + .right-btn-box .logout, .sub #header .hd-bottom + .right-btn-box .logout { background-image: url("../images/common/ico_logout_black.png"); }

body.pc #header:hover::before { opacity: 1; }

body.tablet #header.white::before { opacity: 0; }

body.pc #header:hover .hd-bottom, .sub #header .hd-bottom { background-color: #fff; }

body.pc #header.hover .hd-bottom { height: 520px; border-bottom: 1px solid #ddd; }

body.pc #header.hover .quick-list { display: block; }

.sub #header::before { opacity: 1; }

.sub #header .mobile-menu i, .sub #header .mobile-menu i:last-child::before { background-color: #333 !important; }

#header.scroll #logo { margin-top: 20px; }

#header.scroll .hd-bottom { height: 70px; }

#header.scroll .hd-bottom .gnb > ul > li > a { padding: 23px 0; }

#header.scroll .right-btn-box { top: 23px; }

#header.scroll::before { top: 70px; }

.hd-bottom .gnb { vertical-align: top; max-width: 1280px; width: 100%; font-size: 0; margin: 0 auto; }

.hd-bottom .gnb > ul { font-size: 0; text-align: center; }

.hd-bottom .gnb > ul > li { text-align: center; display: inline-block; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; position: relative; width: auto; margin: 0 72px; }

.hd-bottom .gnb > ul > li > a { -webkit-transition: .3s ease; transition: .3s ease; font-size: 20px; padding: 28px 0 29px; display: block; font-weight: 600; color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; letter-spacing: -.7px; position: relative; text-align: center; }

.hd-bottom .gnb > ul > li > a::after { content: ''; display: inline-block; position: absolute; left: 50%; bottom: 0; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: calc(100% + 30px); height: 5px; background-color: transparent; -webkit-transition: .3s ease; transition: .3s ease; }

.hd-bottom .gnb > ul > li > a span { font-size: 0; position: absolute; left: 0; top: 0; }

.hd-bottom .gnb > ul > li:hover a { color: #003586; }

.hd-bottom .gnb > ul > li:hover a::after { background-color: #003586; }

.hd-bottom .gnb > ul > li > .depth2 { padding-top: 40px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 1; text-align: left; position: absolute; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); white-space: nowrap; display: none; }

.hd-bottom .gnb > ul > li > .depth2 > li { margin-top: 30px; text-align: left; }

.hd-bottom .gnb > ul > li > .depth2 > li:first-child { margin-top: 0; }

.hd-bottom .gnb > ul > li > .depth2 > li > a { display: block; font-size: 18px; color: #666; -webkit-transition: .3s ease; transition: .3s ease; font-weight: 500; }

.hd-bottom .gnb > ul > li > .depth2 > li > a:hover { color: #003586; }

.hd-bottom .gnb > ul > li .depth3 { padding-top: 14px; -webkit-box-sizing: border-box; box-sizing: border-box; z-index: 1; text-align: left; }

.hd-bottom .gnb > ul > li .depth3 > li { margin-top: 14px; text-align: left; }

.hd-bottom .gnb > ul > li .depth3 > li:first-child { margin-top: 0; }

.hd-bottom .gnb > ul > li .depth3 > li > a { display: block; font-size: 14px; color: #666; -webkit-transition: .3s ease; transition: .3s ease; padding-left: 9px; }

.hd-bottom .gnb > ul > li .depth3 > li > a:hover { color: #003586; }

.hd-bottom .gnb > ul > li:first-child { margin-left: 0; }

.hd-bottom .gnb > ul > li:last-child { margin-right: 0; }

.hd-bottom .gnb > ul > li:first-child a::before { display: none; }

.header:hover .gnb > ul > li > a, .header.white .gnb > ul > li > a, .sub .hd-bottom .gnb > ul > li > a { color: #333; }

.header.white #logo a { display: block; width: 204px; height: 24px; background: url("../images/common/logo.png") no-repeat center; background-size: cover; text-indent: -99999px; background-size: contain; -webkit-transition: .2s ease; transition: .2s ease; }

#header .mobile-gnb-wrap { position: fixed; right: -100%; top: 6px; width: 90%; max-width: 400px; background-color: #333; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; -webkit-transition: .5s ease; transition: .5s ease; display: none; border-radius: 30px; z-index: 1; padding: 0; height: 100%; width: 100%; right: 0; top: 50px; text-align: right; border-radius: 0; max-width: 100%; background-color: rgba(0, 0, 0, 0.8); }

#header .mobile-gnb-wrap .mobile-gnb { background-color: #f5f5f5; min-width: 300px; width: calc(100% - 60px); display: inline-block; height: 100%; }

#header .mobile-gnb-wrap .quick-list { background-color: #e7e7e7; padding: 6px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }

#header .mobile-gnb-wrap .quick-list ul { font-size: 0; }

#header .mobile-gnb-wrap .quick-list li { display: inline-block; width: calc(50% - 8px); margin: 4px; }

#header .mobile-gnb-wrap .quick-list a { font-size: 14px; font-weight: 600; padding: 10px 5px; display: block; background-color: #fff; border: 1px solid #d9d9d9; border-radius: 3px; text-align: center; }

#header .mobile-gnb-wrap .quick-list a::after { content: ''; margin-left: 5px; display: inline-block; width: 8px; height: 8px; background: url("../images/common/ico_newtab2.png") no-repeat center; }

#header .mobile-gnb-wrap .gnb { overflow-y: auto; background-color: #fff; }

#header .mobile-gnb-wrap .gnb > ul > li { text-align: left; margin-top: 0; border-bottom: 2px solid #e2e2e2; }

#header .mobile-gnb-wrap .gnb > ul > li:first-child { margin-top: 0; }

#header .mobile-gnb-wrap .gnb > ul > li > a { display: block; font-weight: 600; color: #333; position: relative; font-size: 16px; padding: 12px 30px; }

#header .mobile-gnb-wrap .gnb > ul > li > a::before { content: ''; display: inline-block; text-indent: -99999px; position: absolute; right: 20px; background: url("../images/main/sp_morebtn.png") no-repeat -55px; -webkit-transition: .3s ease; transition: .3s ease; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 20px; height: 20px; display: inline-block; background: url("../images/common/ico_select_open.png") no-repeat center; }

#header .mobile-gnb-wrap .gnb > ul > li > a span { position: absolute; right: 18px; left: auto; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); display: inline-block; text-indent: -99999px; width: 11px; height: 7px; background: url("../images/common/m_gnb_open.png") no-repeat center; }

#header .mobile-gnb-wrap .gnb > ul > li > a.open::before { background-image: url("../images/common/ico_select_close.png"); }

#header .mobile-gnb-wrap .gnb > ul > li > a.open span { background: url("../images/common/m_gnb_clos.png") no-repeat center; }

#header .mobile-gnb-wrap .gnb > ul > li > ul { text-align: left; margin-top: 0; display: none; background-color: #f5f5f5; padding: 14px 0; }

#header .mobile-gnb-wrap .gnb > ul > li > ul > li { display: block; margin: 10px 0 0 0px; }

#header .mobile-gnb-wrap .gnb > ul > li > ul > li:first-child { margin-top: 0; }

#header .mobile-gnb-wrap .gnb > ul > li > ul > li > a { display: block; color: #333; font-size: 14px; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 50px; font-weight: 600; }

#header .mobile-gnb-wrap .gnb > ul > li > ul > li > ul li { margin-top: 3px; }

#header .mobile-gnb-wrap .gnb > ul > li > ul > li > ul li a { padding-left: 60px; font-size: 12px; font-weight: 500; }

#header .mobile-gnb-wrap .m-btn-box { display: table; vertical-align: top; font-size: 0; height: 75px; line-height: 100%; width: calc(100%); -webkit-box-sizing: border-box; box-sizing: border-box; box-sizing: border-box; padding: 15px 15px 20px; }

#header .mobile-gnb-wrap .gnb-close { position: absolute; top: -70px; width: 70px; height: 70px; right: 0; display: inline-block; background: #003586 url("../images/common/ham_close.png") center no-repeat; text-indent: -99999px; background-size: 17px; }

#header .mobile-gnb-wrap .right-btn-box { position: relative; top: auto; display: block; right: auto; padding: 20px 8px; font-size: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

#header .mobile-gnb-wrap .right-btn-box li { font-size: 14px; width: calc(50% - 10px); margin: 0 5px; text-align: center; }

#header .mobile-gnb-wrap .right-btn-box a { display: block; color: #333; border: 1px solid #ebebeb; padding: 11px; border-radius: 3px; font-weight: 700; background-color: #fff; }

.dim { display: none; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); position: fixed; left: 0; top: 0; z-index: -1; }

.bottom-banner { background-color: #fff; border-top: 1px solid #ddd; padding: 10px 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.bottom-banner .inner { padding-right: 70px; }

.bottom-banner .banner-list { overflow: hidden; width: 100%; }

.bottom-banner .banner-list .item { float: left; }

.bottom-banner .banner-list .item a { position: relative; margin: 0 auto; display: block; min-width: 173px; height: 45px; }

.bottom-banner .banner-list .item img { max-width: 100%; position: absolute; left: 50%; top: 50%; -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); }

.bottom-banner .right { position: absolute; right: 0; top: 13px; font-size: 0; }

.bottom-banner .right button { -webkit-transition: .3s ease; transition: .3s ease; background: none; cursor: pointer; border: 1px solid #666; display: inline-block; width: 20px; height: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; text-indent: -99999px; border-left: 0; background: url("../images/common/ft_bnner_prev.png") no-repeat center; }

.bottom-banner .right button.prev { border-left: 1px solid #666; }

.bottom-banner .right button.play { display: none; background: url("../images/common/ft_bnner_play.png") no-repeat center; }

.bottom-banner .right button.stop { background: url("../images/common/ft_bnner_stop.png") no-repeat center; }

.bottom-banner .right button.next { background: url("../images/common/ft_bnner_next.png") no-repeat center; }

.bottom-banner .right button:hover { background-color: #eee; }

/* footer */
#footer { font-size: 0; -webkit-box-sizing: border-box; box-sizing: border-box; color: #333; position: relative; font-size: 16px; font-weight: 500; }

#footer .foot-txt-wrap { padding: 40px 0; border-top: 1px solid #e1e1e1; background-color: #f5f5f5; }

#footer .foot-logo { display: inline-block; vertical-align: middle; }

#footer .left { display: inline-block; text-align: left; vertical-align: middle; }

#footer .link-list { font-size: 0; vertical-align: bottom; display: inline-block; border-bottom: 1px solid #ddd; padding-bottom: 12px; }

#footer .link-list li { position: relative; display: inline-block; margin-right: 28px; font-size: 14px; }

#footer .link-list li:last-child { margin-right: 0; }

#footer .link-list li:last-child::after { display: none; }

#footer .link-list a { color: #666; }

#footer .link-list .privcy { color: #003984; font-size: 16px; font-weight: 700; }

#footer .txt-box { margin-top: 12px; letter-spacing: 0; color: #666; }

#footer .txt-box * { font-size: 14px; word-break: keep-all; }

#footer .copy { font-size: 14px; }

#footer .right { display: inline-block; vertical-align: middle; margin-left: 84px; }

#footer .contact-list li { font-weight: 500; color: #666; position: relative; padding-left: 30px; margin-top: 10px; }

#footer .contact-list li::before { content: ''; display: inline-block; width: 19px; height: 19px; border-radius: 100px; background: #767676; position: absolute; left: 0; top: 1px; display: inline-block; background-position: center; background-repeat: no-repeat; }

#footer .contact-list li:first-child { margin-top: 0; }

#footer .contact-list li.tel::before { background-image: url("../images/common/ico_contact1.png"); }

#footer .contact-list li.fax::before { background-image: url("../images/common/ico_contact2.png"); }

#footer .contact-list li.mail::before { background-image: url("../images/common/ico_contact3.png"); }

#footer .family-site { position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 180px; font-size: 14px; z-index: 1; }

#footer .family-site .family-btn { background: #fff; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; height: 46px; width: 180px; color: #666; font-weight: 500; text-align: left; padding-left: 20px; font-weight: 500; }

#footer .family-site .family-btn::before { content: ''; background: url("../images/common/ico_select_open.png") no-repeat; width: 15px; height: 8px; position: absolute; right: 20px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); -webkit-transition: .3s ease; transition: .3s ease; }

#footer .family-site .family-btn.active::before { -webkit-transform: translateY(-50%) rotate(180deg); transform: translateY(-50%) rotate(180deg); }

#footer .family-site .list { position: absolute; bottom: 46px; background-color: #fff; border: 1px solid #ccc; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 0; display: none; }

#footer .family-site .list li { border-top: 1px solid #eee; }

#footer .family-site .list a { color: #767676; -webkit-transition: .3s ease; transition: .3s ease; padding: 8px 20px; display: inline-block; width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

#footer .family-site .list a:hover { background-color: #f2f2f2; }

.foot-banner-wrap { border-top: 1px solid #e1e1e1; height: 80px; background-color: #f9f9f9; }

.foot-banner-wrap .banner { height: 100%; }

.foot-banner-wrap .inner { height: 100%; }

.foot-banner-wrap .foot-paging { height: 100%; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; vertical-align: middle; margin-right: 45px; }

.foot-banner-wrap .paging-tit { color: #333; font-weight: 600; font-size: 18px; vertical-align: middle; }

.foot-banner-wrap .swiper-btn-wrap { display: inline-block; position: relative; vertical-align: middle; margin-left: 20px; background-color: #fff; width: 62px; height: 25px; border-radius: 100px; overflow: hidden; border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 0; }

.foot-banner-wrap .swiper-btn-wrap .swiper-btn { display: inline-block; position: relative; bottom: 0; text-indent: -99999px; margin-top: 0; padding: 0; top: 0; background-color: transparent; width: 50%; height: 100%; font-size: 16px; right: auto; left: auto; }

.foot-banner-wrap .swiper-btn-wrap .swiper-button-prev { background: url("../images/common/ico_banner_prev.png") no-repeat center; }

.foot-banner-wrap .swiper-btn-wrap .swiper-button-next { background: url("../images/common/ico_banner_next.png") no-repeat center; }

.foot-banner-wrap .swiper-btn-wrap .swiper-button-next::before { content: ''; display: inline-block; position: absolute; left: 0; top: 5px; width: 1px; background-color: #ccc; height: 14px; }

.foot-banner-wrap .banner-swiper { display: inline-block; vertical-align: middle; width: calc(100% - 180px); }

.foot-banner-wrap .banner-swiper .swiper-wrapper { -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.foot-banner-wrap .banner-swiper .swiper-slide { display: inline-block; vertical-align: middle; }

.foot-banner-wrap .banner-swiper a { width: 100%; display: block; height: 100%; }

.foot-banner-wrap .banner-swiper img { max-width: none; -webkit-filter: grayscale(1); filter: grayscale(1); opacity: .8; -webkit-transition: .3s ease; transition: .3s ease; }

.foot-banner-wrap .banner-swiper a:hover img { -webkit-filter: grayscale(0); filter: grayscale(0); opacity: 1; }

.bnner-quick { position: absolute; background-color: #fff; right: 150px; top: 848px; z-index: 10; text-align: center; width: 80px; -webkit-box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.3); box-shadow: 15px 15px 20px 2px rgba(0, 0, 0, 0.3); border-radius: 17px; overflow: hidden; }

.bnner-quick ul { padding: 18px 0 10px; }

.bnner-quick li { text-align: center; margin-top: 10px; }

.bnner-quick li:first-child { margin-top: 0; }

.bnner-quick a { width: 100%; display: block; padding: 0 5px; color: #333; -webkit-transition: .3s ease; transition: .3s ease; padding-top: 60px; word-break: keep-all; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 12px; letter-spacing: -1px; }

.bnner-quick a.item1 { background: url("../images/common/right_quick1.png") no-repeat 50% 9px; }

.bnner-quick a.item2 { background: url("../images/common/right_quick2.png") no-repeat 50% 9px; }

.bnner-quick a.item3 { padding-top: 50px; background: url("../images/common/right_quick3.png") no-repeat 50% 9px; }

.bnner-quick a.item4 { background: url("../images/common/right_quick4.png") no-repeat 50% 9px; }

.bnner-quick a:hover { background-position: 50% 7px; }

.bnner-quick .top-btn { width: 100%; display: block; background: url("../images/common/topbtn.png") no-repeat center 17px; -webkit-transition: .3s ease; transition: .3s ease; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 12px; padding-bottom: 20px; color: #333; font-weight: 300; padding-top: 25px; }

.bnner-quick .top-btn:hover { background-position: center 14px; }

.bnner-quick.scroll { top: 230px !important; position: fixed; }

/* modal popup */
.b-modal { opacity: 1 !important; background-color: rgba(0, 0, 0, 0.5) !important; }

.modal-wrap:not(.bubble-pop) { position: fixed !important; left: 0; top: 0 !important; width: 100%; height: 100%; z-index: 100; background-color: rgba(0, 0, 0, 0.5); display: none; }

.modal-wrap:not(.bubble-pop) .f_wrapper { border-radius: 2px; margin: auto; width: 95%; top: 50% !important; left: 50% !important; background-color: #f9f9f9; max-width: 1230px; -webkit-transform: translateY(-50%) translateX(-50%); transform: translateY(-50%) translateX(-50%); max-height: 95vh; position: absolute; }

.modal-wrap:not(.bubble-pop).type2 .f_wrapper { max-width: 600px; }

.modal-wrap:not(.bubble-pop).type3 .f_wrapper { max-width: 700px; }

.modal-wrap:not(.bubble-pop).type4 .f_wrapper { max-width: 1080px; }

.modal-wrap:not(.bubble-pop).type5 .f_wrapper { max-width: 845px; }

.modal-wrap:not(.bubble-pop).type6 .f_wrapper { max-width: 800px; }

.modal-wrap:not(.bubble-pop).type7 .f_wrapper { max-width: 1200px; }

.modal-wrap:not(.bubble-pop).type8 .f_wrapper { max-width: 1360px; }

.modal-wrap:not(.bubble-pop) .tit-h2, .modal-wrap:not(.bubble-pop) .tit-h3, .modal-wrap:not(.bubble-pop) .tit-h4 { position: relative; margin-bottom: 9px; }

.modal-wrap:not(.bubble-pop) .tit-h2::before, .modal-wrap:not(.bubble-pop) .tit-h3::before, .modal-wrap:not(.bubble-pop) .tit-h4::before { content: ''; position: absolute; top: 8px; left: 0; width: 3px; height: 3px; background: #eee; border-radius: 3px; }

.modal-wrap:not(.bubble-pop) .modal-head { height: 76px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 22px 80px 22px 30px; position: relative; }

.modal-wrap:not(.bubble-pop) .modal-head h2 { font-size: 30px; font-weight: 700; color: #555; }

.modal-wrap:not(.bubble-pop) .modal-head h2.type2 { font-size: 24px; }

.modal-wrap:not(.bubble-pop) .modal-cont-wrap { -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 2px; overflow: hidden; max-height: calc(95vh - 76px); overflow-y: auto; border-radius: 2px; }

.modal-wrap:not(.bubble-pop) .modal-cont { min-height: 160px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 30px 40px; height: 100%; font-size: 17px; }

.modal-wrap:not(.bubble-pop) .modal-cont .cont-top { margin-bottom: 12px; }

.modal-wrap:not(.bubble-pop) .modal-cont .btn-block { margin-top: 30px; }

.modal-wrap:not(.bubble-pop) .modal-cont .search-box { font-size: 14px; }

.modal-wrap:not(.bubble-pop) .modal-cont .search-box label { color: #333; }

.modal-wrap:not(.bubble-pop) .modal-cont .inp-group { margin: 0 -13px; }

.modal-wrap:not(.bubble-pop) .modal-cont .inp-group .inp { margin: 0 13px; }

.modal-wrap:not(.bubble-pop) .modal-cont .inp-group button { font-weight: 300; }

.modal-wrap:not(.bubble-pop) select.select:not(.ui-datepicker-year):not(.ui-datepicker-month) { max-width: 432px; height: 49px; font-size: 17px; color: #666; border: 1px solid #666; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 2px; background-color: #f8f8f8; width: 100%; padding-left: 16px; }

.modal-wrap:not(.bubble-pop) .modal-close { position: absolute; right: 27px; top: 17px; width: 30px; height: 30px; text-indent: -99999px; overflow: hidden; background: url("../images/common/ico_close2.png") no-repeat 50% 50%; }

.modal-wrap:not(.bubble-pop) .modal-basic { text-align: center; font-size: 18px; color: #666; margin: 30px 0 0; }

.modal-wrap:not(.bubble-pop) .basic { padding-left: 0; color: #666; }

.modal-wrap:not(.bubble-pop) .gray-box { padding: 30px 45px; }

.modal-wrap:not(.bubble-pop) .tbl-view th { background-color: #fff; }

.modal-wrap:not(.bubble-pop) .tbl-view td { background-color: transparent; }

.modal-wrap:not(.bubble-pop).on { display: block; }

.modal-wrap:not(.bubble-pop).modal-type-img .f_wrapper { max-width: 1000px; width: auto; min-width: 200px; }

.modal-wrap:not(.bubble-pop).modal-type-img .modal-cont-wrap { padding-bottom: 0; }

.modal-wrap:not(.bubble-pop).modal-type-img .modal-cont { padding: 0; }

.modal-wrap:not(.bubble-pop) .cancel-btn { margin-top: 14px; }

.modal-wrap:not(.bubble-pop) .modal-btn-box { width: 100%; text-align: center; height: 58px; }

.modal-wrap:not(.bubble-pop) .popup-btn { width: 100%; background-color: #003586; color: #fff; font-size: 20px; font-weight: 500; height: 100%; }

.modal-wrap:not(.bubble-pop) .btn-box { margin-top: 38px; }

.modal-wrap:not(.bubble-pop) .btn-box .btn { height: 40px; padding: 7px 10px; max-width: 160px; font-weight: 600; }

.modal-wrap.small .modal-cont-wrap { max-height: 360px; }

.modal-wrap.small .f_wrapper { max-width: 300px; }

.modal-wrap.small .modal-head { height: 48px; background-color: #003586; background-color: #003586; color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 20px; font-size: 24px; text-align: left; font-weight: 600; padding-right: 30px; }

.modal-wrap.small .modal-head > *, .modal-wrap.small .modal-head h2 { color: #fff; font-size: 24px; font-weight: 600; }

.modal-wrap.small .modal-cont { border: 1px solid #ccc; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 16px; line-height: 130%; color: #333; padding: 20px; }

.modal-wrap.small .modal-cont > * { font-size: 16px; line-height: 130%; }

.modal-wrap.small .modal-close { position: absolute; right: 14px; top: 13px; width: 21px; height: 21px; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; text-indent: -99999px; background: url("../images/common/ico_close.png") no-repeat center; background-size: 21px; }

.modal-wrap.alert .modal-cont-wrap { max-height: 360px; }

.modal-wrap.alert .f_wrapper { max-width: 440px; border-radius: 8px; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }

.modal-wrap.alert .modal-head { height: 48px; background-color: #003586; background-color: #003586; color: #fff; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 10px 20px; font-size: 24px; text-align: left; font-weight: 600; padding-right: 30px; }

.modal-wrap.alert .modal-head > *, .modal-wrap.alert .modal-head h2 { color: #fff; font-size: 24px; font-weight: 600; }

.modal-wrap.alert .modal-cont { -webkit-box-sizing: border-box; box-sizing: border-box; line-height: 130%; color: #333; padding: 30px; font-size: 20px; }

.modal-wrap.alert .modal-cont > * { font-size: 20px; line-height: 130%; }

.modal-wrap.alert .modal-close { position: absolute; right: 14px; top: 13px; width: 21px; height: 21px; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; text-indent: -99999px; background: url("../images/common/ico_close.png") no-repeat center; background-size: 21px; }

.modal-wrap.alert .btn-box { display: block; text-align: right; border-top: 1px solid #ccc; position: relative; margin-top: 0; margin: 0; }

.modal-wrap.alert .btn-box .btn { height: 60px; margin: 0; min-width: 147px; text-align: center; background-color: transparent; padding: 17px 10px; font-size: 20px; position: relative; }

.modal-wrap.alert .btn-box .btn::before { content: ''; display: inline-block; width: 1px; height: 40px; background-color: #eee; position: absolute; left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.modal-wrap.alert .btn-box .btn.confirm { color: #ee2418; }

.modal-wrap.privcy .f_wrapper { -webkit-box-shadow: 2px 15px 20px 0 rgba(0, 0, 0, 0.2); box-shadow: 2px 15px 20px 0 rgba(0, 0, 0, 0.2); max-width: 600px; background-color: #fff; }

.modal-wrap.privcy .modal-head { height: 66px; padding: 22px 80px 22px 30px; }

.modal-wrap.privcy .modal-head h2 { font-size: 20px; }

.vis-search-wrap { margin-top: 76px; width: 100%; }

.vis-search-wrap .vis-search-box { background: rgba(255, 255, 255, 0.5); padding: 33px 38px; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid rgba(188, 188, 188, 0.2); border-radius: 20px; }

.vis-search-wrap .search-tit { font-weight: 600; text-align: center; color: #333; font-size: 24px; }

.vis-search-wrap .top { width: 100%; text-align: left; margin-top: 20px; font-size: 0; }

.vis-search-wrap .top > .tit { width: 200px; display: inline-block; vertical-align: top; position: relative; padding-left: 10px; color: #333; font-size: 18px; line-height: 100%; margin-right: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 7px; }

.vis-search-wrap .top > .tit span { color: #333; font-size: 16px; }

.vis-search-wrap .top > .tit::before { content: ''; display: inline-block; width: 5px; height: 5px; border-radius: 6px; position: absolute; top: 7px; left: 0; background-color: #333; }

.vis-search-wrap .select-list { display: inline-block; vertical-align: top; width: calc(100% - 220px); }

.vis-search-wrap .checkbox { margin-bottom: 3px; }

.vis-search-wrap .checkbox label { width: 100%; display: inline-block; background-color: #fff; min-width: 95px; border-radius: 100px; text-align: center; padding: 7px 21px 7px 13px; color: #767676; font-size: 16px; line-height: 110%; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px dashed #c8b6d4; }

.vis-search-wrap .checkbox label::before { border: none; background: url("../images/common/ico_chk2_default.png") no-repeat center; float: left; top: 0; }

.vis-search-wrap .checkbox input[type=checkbox]:focus + label { outline-style: solid; }

.vis-search-wrap .checkbox input[type=checkbox]:checked + label { border: 1px solid #552278; background-color: #552277; color: #fff; }

.vis-search-wrap .checkbox input[type=checkbox]:checked + label::before { background: url("../images/common/ico_chk2.png") no-repeat center; }

.vis-search-wrap .bottom { font-size: 0; margin-top: 20px; padding-right: 50px; }

.vis-search-wrap .select-wrap { display: inline-block; vertical-align: middle; font-size: 0; }

.vis-search-wrap .srch-select { position: relative; display: inline-block; min-width: 160px; text-align: center; margin-right: 20px; vertical-align: top; }

.vis-search-wrap .srch-select .tit { display: block; cursor: pointer; border: 1px solid #552277; border-radius: 100px; color: #333; background-color: #fff; height: 44px; padding: 12px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 16px; position: relative; padding-right: 40px; }

.vis-search-wrap .srch-select .tit::before { content: ''; position: absolute; right: 15px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 19px; height: 10px; display: inline-block; background: url("../images/common/select_arrow_default.png") no-repeat center; }

.vis-search-wrap .srch-select ul { font-size: 16px; position: absolute; background-color: #fff; width: 100%; border: 1px solid #552277; display: none; z-index: 1; max-height: 480px; overflow-y: auto; }

.vis-search-wrap .srch-select ul a { text-align: left; display: block; border-bottom: 1px solid #eee; padding: 6px 10px; padding-left: 15px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.vis-search-wrap .srch-select ul a:hover { background-color: #f9f9f9; }

.vis-search-wrap .srch-select.select1 ul { z-index: 2; }

.vis-search-wrap .srch-select.on .tit::before { background: url("../images/common/select_arrow.png") no-repeat center; }

.vis-search-wrap .search-inp-wrap { font-size: 0; width: calc(100% - 360px); display: inline-block; vertical-align: middle; }

.vis-search-wrap .search-inp-wrap * { font-size: 16px; }

.vis-search-wrap .search-inp-wrap .search-inp { padding: 0 15px 0 30px; background-color: #fff; width: calc(100% - 320px); -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #552277; height: 44px; border-radius: 100px; }

.vis-search-wrap .search-inp-wrap .btn-box { display: inline-block; font-size: 0; margin: 0; }

.vis-search-wrap .search-inp-wrap .search-btn { width: 140px; border-radius: 100px; background-color: #552277; color: #fff; margin-left: 20px; height: 44px; vertical-align: middle; }

.vis-search-wrap .search-inp-wrap .search-btn.search::after { content: ''; display: inline-block; width: 17px; height: 17px; background: url("../images/common/btn_search2.png") no-repeat center; -webkit-transform: translateY(2px); transform: translateY(2px); margin-left: 5px; margin-right: -5px; }

.vis-search-wrap .search-inp-wrap .search-btn.reset::after { content: ''; display: inline-block; width: 17px; height: 17px; background: url("../images/common/btn_reset.png") no-repeat center; -webkit-transform: translateY(2px); transform: translateY(2px); margin-left: 5px; margin-right: -5px; }

.vis-search-wrap .srch-select1 ul { z-index: 2; }

@media screen and (max-width: 1800px) { #header .hd-bottom { padding: 0 20px; }
  .hd-bottom .gnb { max-width: 930px; }
  .hd-bottom .gnb > ul > li > .depth2 > li > a { margin: 0; }
  #header .mobile-menu { right: 30px; }
  .hd-bottom .gnb > ul > li { margin: 0 40px; }
  #header #logo { margin-left: 20px; }
  #header .hd-bottom + .right-btn-box { right: 20px; } }

@media screen and (max-width: 1400px) { .hd-bottom .gnb > ul > li { margin: 0 30px; }
  .hd-bottom .gnb > ul > li > a { font-size: 16px; padding: 30px 0 31px; }
  .hd-bottom .gnb > ul > li > .depth2 > li > a { font-size: 14px; }
  body.pc #header.hover .hd-bottom { height: 520px; border-bottom: 1px solid #ddd; }
  body.pc #header.hover .hd-bottom .quick-list { display: block; }
  #header.hover .hd-bottom .quick-list { display: none; } }

@media screen and (max-width: 1200px) { .hd-bottom .gnb { display: none; }
  .hd-bottom .quick-list { display: none; }
  #header .right-btn-box, #header.white .right-btn-box, .sub #header .hd-bottom + .right-btn-box { display: none; }
  #header .hd-bottom { padding: 0; }
  #header.scroll .hd-bottom { height: 50px; }
  #header.hover .hd-bottom { height: 100%; padding-bottom: 26px; }
  #header::before, #header.scroll::before { top: 50px; }
  #header.white.scroll::before { display: none; }
  .hd-bottom-dim { display: none; }
  #header .mobile-menu { display: block; width: 50px; height: 50px; right: 0; background-color: transparent; }
  #header .mobile-gnb-wrap.open { display: block; }
  #header .hd-top { display: none; }
  #header .hd-bottom { text-align: center; height: 50px; }
  #header .bottom-inner { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 14px; }
  #header #logo, #header.scroll #logo { margin-top: 13px; position: relative; z-index: 2; }
  #header .hd-search-box { display: none; margin-top: 0; position: fixed; top: 70px; right: 0; background-color: #fff; max-width: 100%; height: 50px; padding: 0 15px; }
  #header .mobile-search { display: block; }
  #header .mobile-menu:not(.gnb-close) span { top: 19px; }
  #header .mobile-menu i { -webkit-transition: none; transition: none; background-color: #fff; }
  #header .mobile-menu i:last-child::before { content: ''; border-radius: 100px; width: 100%; height: 3px; background-color: #fff; display: inline-block; position: absolute; top: 18px; left: 0; }
  #header .mobile-menu.gnb-close { background-color: transparent; top: 0; -webkit-transform: none; transform: none; }
  #header .mobile-menu.gnb-close i { background-color: #fff; border-radius: 10px; }
  #header .mobile-menu.gnb-close i:last-child::before { display: none; }
  #header.white .mobile-menu i, #header.white .mobile-menu i:last-child::before { background-color: #333; }
  .modal-wrap .modal-head { padding: 19px 50px 16px 20px; }
  .modal-wrap .modal-head h2 { font-size: 14px; }
  .modal-wrap .modal-cont { padding: 20px 13px 30px; }
  #footer .left { display: block; }
  #footer .right { margin-left: 0; display: block; margin-top: 40px; }
  #footer .family-site { top: -10px; -webkit-transform: none; transform: none; }
  #footer .foot-banner-wrap .banner-swiper a { text-align: center; } }

@media screen and (max-width: 1024px) { #footer .link-list li { margin: 5px 10px 0 0; font-size: 14px; } }

@media screen and (max-width: 768px) { #header #logo a { width: 140px; height: 22px; }
  #header .right-link { margin-right: 30px; }
  #header .right-link li { padding: 0 10px; }
  #header .right-link li a { font-size: 14px; }
  #header .right-box .item { padding: 0 10px; }
  #header .hd-top { display: none; }
  #header .hd-bottom { text-align: center; }
  #header .bottom-inner { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 14px; }
  #footer .link-list { display: block; margin-left: 0; margin-top: 30px; }
  #footer .txt-box { margin-top: 22px; }
  #footer .foot-banner-wrap .banner { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  #footer .foot-banner-wrap .banner-swiper { width: 100%; }
  #footer .foot-banner-wrap .foot-paging { display: none; } }

@media screen and (max-width: 600px) { #footer .foot-txt-wrap { padding: 30px 0; }
  #footer .left { text-align: center; }
  #footer .right { margin-top: 30px; }
  #footer .family-site { position: relative; margin-top: 20px; top: auto; bottom: 0; width: 100%; }
  #footer .family-site .family-btn { width: 100%; }
  #footer .link-list li { margin-right: 15px; }
  #footer .link-list li:first-child { display: block; margin-right: 0; } }

@media screen and (max-width: 900px) and (max-height: 500px) { .mobile-gnb-wrap.open { height: 100%; }
  .mobile-gnb-wrap .gnb { height: 100%; } }
