@charset "utf-8";
@import "_var"; // 변수선언


// #wrap { overflow: hidden;}





.main-vis { height: 780px; min-height: 600px; overflow: hidden; width: 100%; position: relative;

    .inner { height: 100%; }
    .vis-swiper-wrap { height: 100%;}
    .bg { background: url($main + "vis01.jpg") no-repeat center; background-size: cover; animation: mainVis 10s forwards; min-height: 100%; width: 100%; position: absolute; left: 0; top: 0; }
    .bg2 { background-image: url($main + "sec2_slide1.jpg"); opacity: .3; } //임시

    .vis-top-layer { position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    
    .visual-swiper { height: 100%;}
    .swiper-wrapper { background-color: #000;}
    .swiper-slide { overflow: hidden;}


    .vis-bottom-box { z-index: 1; position: absolute; left: 0; color: #fff; bottom: 112px; }
    .txt-box {
    
        .t1 { font-weight: 100; font-size: 36px;}
        .t2 { font-weight: 600; font-size: 60px;}
    }
    .vis-control-box { margin-top: 28px; font-size: 20px; position: relative; display: inline-block;
        .donut-timer { position: relative; width: 40px; height: 40px; position: absolute;}
        .donut-chart { width: 40px; height: 40px;}
        .donut-ring { fill: transparent; stroke: rgba(0,0,0,.3); stroke-width: 10px;  }
        .donut-segment { fill: transparent; stroke: #fff; stroke-width: 10px; stroke-dasharray: 0 251.2; transition: stroke-dasharray 1s ease; transform: rotate(-90deg); /* 시작 각도 설정 */ transform-origin: 50% 50%;}
        .donut-segment.animate { animation: fillDonut 3.9s linear forwards; }
        
        .stop-btn { position: relative; z-index: 2; display: inline-block;

            .stop, .play { display: inline-block; width: 40px; height: 40px;  text-indent: -99999px; position: relative;}
            .stop { background: url($main + "ico_stop.png") no-repeat center;}
            .play { display: none; background: url($main + "ico_play.png") no-repeat center;}
        }

        .paging { margin-left: 50px; display: inline-block; vertical-align: middle;}
        .paging .swiper-btn { position: relative; text-indent: -99999px; vertical-align: middle; right: auto; left: auto; top: auto; display: inline-block; opacity: 1; width: 30px; height: 30px; transition: .3s ease; margin-top: 0;}
        .paging .swiper-btn.swiper-button-prev { background: url($main + "ico_prev.png") no-repeat center; padding: 0;
        
            &:hover {background-image: url($main + "ico_prev_on.png");}
        }
        .paging .swiper-btn.swiper-button-next { background: url($main + "ico_next.png") no-repeat center; padding: 0;

            &:hover {background-image: url($main + "ico_next_on.png");}
        }
        .swiper-pagination { height: 30px; width: auto; position: relative; z-index: 0; display: inline-block; vertical-align: middle; font-size: 20px; color: #999; font-weight: 600; line-height: 30px; bottom: auto;}
        .swiper-pagination span { margin: 0 10px;}
        .swiper-pagination .swiper-pagination-current { color: #fff;}
    }

    .left-btn-box { position: absolute; left: 0; top: 0; z-index: 1; top: 150px;
    
        a {display: block; background-color: #42403f; color: #fff; width: 180px; text-align: center;  font-size: 20px; font-weight: 600; box-shadow: 8px 10px 10px 0 rgba(0,0,0,0.4); margin-top: 20px; position: relative; padding: 10px; z-index: 1;}
        a:first-child { margin-top: 0;}
        a::before { content: ''; display: inline-block; position: absolute; left: 0; top: 0; width: 1px; transition: .4s ease; height: 100%; opacity: 0; background-color: #333; z-index: -1;}
        a:hover::before {width: 100%; opacity: 1; }
    }

    .vis-calendar-wrap { display: inline-block; position: absolute; right: 0; top: 160px; z-index: 1;background-color: rgba(0,0,0,.5); padding: 20px; box-sizing: border-box; color: #fff;
    
        .tit-box {

            .tit { font-size: 18px; font-weight: 600;}
        }
        .calendar-box { margin: 18px auto 0; box-sizing: border-box; border: 1px solid #535253; background-color: rgba(51,51,51,.8); width: 245px; display: block}


        .calendar { padding: 20px 20px 14px; box-sizing: border-box;}
        .current-sel { text-align: center;

            button { display: inline-block; vertical-align: middle; padding: 0; width: 30px; height: 30px; background:none; transition: .2s ease; }
            .prev { background: url($main + "ico_prev2.png") no-repeat 50% 50%; margin-right: 2px}
            .prev:hover { background-position: 30% 50%;}
            .next { background: url($main + "ico_next2.png") no-repeat 50% 50%; margin-left: 2px;}
            .next:hover { background-position: 70% 50%;}
            p { display: inline-block; vertical-align: middle; font-weight: 600;}
        }

        .calendar-tbl { text-align: center;  margin-top: 15px;
        
            .thead, .tbody { display: table; width: 100%;}
            .tbody { margin-top: 6px;}
            .tr { display: table-row-group; width: 100%;}
            .th { display: table-cell; font-size: 14px; height: 22px; line-height: 22px;}
            .td { display: table-cell; font-size: 14px; height: 22px; line-height: 22px; position: relative; z-index: 1; padding-top: 3px; transition: 1s ease; }
            .td button { background-color: transparent; display: inline-block; color: #fff; width: 100%; height: 100%; padding: 0;}
            .saturday, .saturday button { color: #a4c4ff;}
            .sunday, .sunday button { color: #ffa0b4;}
            .td.selected button { border-radius: 100px; background-color: #d6b4ff;}
            .td.selected ~ .td.selected button { border-radius: 0;}
            .td.selected ~ .td.selected.last button { border-radius: 0 100px 100px 0;}
            .td.selected.first button { border-radius: 100px 0 0 100px;}
        }

        .info { padding: 14px 20px; padding-right: 10px; box-sizing: border-box; border-top: 1px solid #535253; font-size: 14px;
        
            .info-scroll { overflow-y: auto;  height: 100px; padding-right: 20px; box-sizing: border-box;}
            .item { margin-top: 15px;} 
            .item:first-child { margin-top: 0;} 
            .date { display: block; font-weight: 500;}
            .txt { margin-top: 8px; line-height: 18px;}
        }

        .more-btn { position: absolute; right: 21px; top: 24px; font-size: 14px; background-position: 11px;}
    
    }


    .ico-scroll { position: absolute; bottom: 48px; left: 50%; transform: translateX(-50%); display: inline-block; color: #fff; font-size: 12px; text-align: center; z-index: 1;
    
        .txt { text-align: center; font-weight: 200;}
        .ico { display: block; width: 14px; height: 25px; border-radius: 100px; border: 1px solid #fff; position: relative; margin: 7px auto 0;}
        .ball { position: absolute; left: 6px; width: 2px; height: 4px; border-radius: 10px; background-color: #fff; top: 4px; animation: scoll 2s infinite;}
    }
}

@keyframes fillDonut {
    from {stroke-dasharray: 0 251.2; }
    to { stroke-dasharray: 251.2 0;}
}

@keyframes scoll {
    0% {transform: translateY(0);}
    50% { transform: translateY(5px);}
    100% {transform: translateY(0);}
}

.more-btn { color: #fff; transition: .3s ease; font-size: 18px; padding-right: 25px; font-weight: 500; position: relative;
        
    &::before { content: ''; display: inline-block; position: absolute; right: 3px; top: 50%; transition: .3s ease; transform: translateY(-50%); background: url($main + "ico_morebtn.png") no-repeat center; width: 12px; height: 17px;}
    &:hover::before { right: 0;}
}
.more-btn.type2 { color: #333; transition: .3s ease; font-size: 18px; padding-right: 25px; font-weight: 500; position: relative;
        
    &::before { background: url($main + "ico_morebtn2.png") no-repeat center;}
    &:hover::before { right: 0;}
}

.sec-tit-box {
    .section-tit { font-size: 48px; font-weight: 700; color: #fff;}
    .section-txt { font-size: 18px; font-weight: 300; color: #fff; margin-top: 22px;}

    &.type2 {
    .section-tit { color: #333;}
    .section-txt { color: #333;}
    }
}


// 시설안내
.section2 { height: 970px;

    
    // bg swiper
    .sec2-swiper-wrap {height: 100%;  position: relative;}
    .bg-swiper-wrap { height: 100%;}
    .bg-swiper { height: 100%; background-color: #000; position: absolute; top: 0; left: 0; width: 100%;
    
        .swiper-slide { height: 100%; background-color: #000; overflow: hidden;}

        // 배경이미지
        .bg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url($main + "sec2_slide1.jpg") no-repeat center; background-size: cover; opacity: .4;}
        
    }
    
    .title-inner { z-index: 2; padding-top: 158px; color: #fff;}

    .txt-swiper-wrap {position: absolute; left: 0; top: 309px; z-index: 1; height: 500px; width: 100%;
        .paging-inner { height: auto; z-index: 1;}
        .paging { position: absolute; top: 300px; text-align: center; left: 35px;
        
            .swiper-btn { width: 30px; height: 30px; display: inline-block; vertical-align: middle; text-indent: -99999px;position: relative; left: auto; right: auto; top: auto; margin-top: 0; background: none; border-radius: 100px;background-repeat: no-repeat; transition: .3s ease;}
            .swiper-button-prev { background-image: url($main + "ico_prev3.png");  background-position: 40% 50%; }
            .swiper-button-next { background-image: url($main + "ico_next3.png");  background-position: 60% 50%; }
            .swiper-pagination { display: inline-block; vertical-align: middle; font-size: 14px; color: #333; font-weight: 600; width: auto; position: relative; margin-top: 0; bottom: 0; margin: 0 10px;}
            
            .swiper-btn:hover { background-color: #eee;}
        }
    }
    .txt-swiper { height: 100%;


        .swiper-slide {overflow: hidden;}
        .swiper-slide-next { z-index: 0;}
        .swiper-slide-active { z-index: 1;}
        .swiper-slide-active .slide-txt-wrap { z-index: 1;}
        
        // 작은이미지
        .slide-bg { position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 1270px; height: 100%; background-size: cover; background-position: 50% 70%; z-index: -1;}
    }
    
    .bg-swiper, .txt-swiper {
        .bg1 {background-image: url($main + "sec2_slide1.jpg") }
        .bg2 {background-image: url($main + "sec2_slide2.jpg") }
    }

    .slide-txt-wrap { padding-top: 30px; padding-left: 40px; background-color: #fff; left: 0; top: 0; width: 620px; height: 232px; position: absolute; top: 127px; box-sizing: border-box; 
    
        .tit { font-size: 22px; font-weight: 700;}
        .txt { margin-top: 20px; font-size: 16px; color: #666; line-height: 170%;}

        .bottom-btn { position: absolute; right: 40px; bottom: 35px; font-size: 0;
        
            .btn { display: inline-block; padding: 5px 23px; background-color: #333; color: #fff; transition: .3s ease; font-weight: 500; font-size: 16px; margin-left: 18px;}
            .btn:first-child { margin-left: 0;}
            .btn:hover { background: #000;}
        }
    }


    .paging-inner { position: absolute; top:0; left: 50%; transform: translateX(-50%);}
    
    .more-btn { top: 233px; right: 0; position: absolute;}
}

.section3 { padding: 160px 0 150px; background-color: #fff; overflow: hidden;

    //전체
    .tab-section { padding: 0 0 85px; background: #fff; margin-top: 0; position: relative;
        
        .btn-inner { width: 100%; transform: translateX(-50%); max-width: 1280px; position: absolute; margin: 0 auto; top: 0; left: 50%;}
        .more-btn { position: absolute; right: 0; top: -97px; font-size: 15px; color: #333; font-weight: 400;}
    }
    .tab-list { max-width: 1280px; margin: 38px auto 0; position: relative; }
    .slider2 .inner { overflow: hidden;}
    .section-tit { display: inline-block;}
    .tab-con { position: relative;}
    .tit-list { margin-top:30px;  font-size: 0; text-align: center; display: inline-block;

        .tab { margin-right: 40px; display: inline-block; font-size: 20px; text-align: center; margin-bottom: -1px; vertical-align: top;
        
            &:last-child { margin-right: 0;}
        }
        .tab a { transition: .3s ease;  padding-bottom: 10px; font-size: 24px; width: 180px; text-align: center; display: block; color: #666; position: relative; z-index: 1; padding: 12px; height: 54px; box-sizing: border-box; border: 1px solid #ddd;}
        .tab a::before { transition: .3s ease; content: ''; display: inline-block; position: absolute; left: 0; z-index: -1; left: 0; width: 100%; height: 22px; bottom: 0;}
        .tab.active a { color: #fff; background-color: #333; border-color: #333332; font-weight: 500; }
    }

    .slider2 { padding: 0 0 50px; margin-right: -30px; padding-right: 30px; box-sizing: border-box;}  

    .tab-list .swiper-slide {  opacity: 0.5;

        .img-wrap { overflow: hidden; width: 320px; margin: 0 auto; position: relative; z-index: 1; background-color: #f8f8f8;}
        .img{ height: 0; padding-bottom: 56%; background: url($common + "ico_photo.png") no-repeat center; }
        .img img { transition: .3s ease; position: absolute; left: 50%; top: 50%; transform: translate3d(-50%,-50%,0);}
        a { display: block; box-sizing: border-box; background-color: #fff; font-size: 14px; color: #333; height: 100%;} 
        .txt-box {transition: .3s ease;  background-color: #eee; padding: 80px 40px 40px; margin-top: -54px; box-sizing: border-box; position: relative;}
        .tit-wrap { padding-right: 70px; position: relative; }
        .tit { word-break: keep-all; font-size: 26px; font-weight: 600; overflow: hidden; display: block; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; color: #333; -webkit-line-clamp: 3; -webkit-box-orient: vertical;line-height: 32px; height: 96px;width: 100%;}
        .ico-group { position: absolute; right: 0; top: 5px; 
        
            .ico-type { display: block; text-align: center; background-color: #555; margin-top: 10px; border-radius: 3px; width: 55px; height: 20px; line-height: 20px; color: #fff; font-size: 16px; font-weight: 600;}
            .ico-type:first-child { margin-top: 0;}
            .collective { background-color: #4d71ef;} // 집체
            .nonface { background-color: #5e06c1;} // 비대면
            .online { background-color: #ef4d8e;} // 온라인
        }
        .txt { margin-top: 16px; overflow: hidden; display: block; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; color: #333; -webkit-line-clamp: 4;  -webkit-box-orient: vertical;line-height: 20px; height: 80px;width: 100%; word-break: break-all; font-size: 16px; word-break: keep-all;}
        .right {margin-top: 17px; text-align: right;}
        .date {color: #666; font-size: 14px; margin-top: 18px; font-weight: 500; display: block;}

        .view-btn { display: block; margin-top: 20px; padding: 2px 10px; text-align: center; font-size: 20px; color: #333; border: 1px solid #333; box-sizing: border-box; font-weight: 600; position: relative; z-index: 0;}
        .view-btn::after { content: '';display: inline-block; width: 100%; height: 1px; position: absolute; transform: .3s ease; background-color: #333; z-index: -1; transition: .3s ease; left: auto; top: auto; bottom: -1px; right: 0; }

        // &:hover .txt-box { box-shadow: 15px 15px 15px 2px rgba(0,0,0,.3);}
        &:hover {
            .img-wrap img { transform: translate3d(-50%, -50%, 0) scale(1.1);}
            .view-btn { color: #fff;}
            .view-btn::after { height: 100%; left: 0; top: 0;}
        }

        &.swiper-slide-visible { opacity: 1;}
    }

    .btn-inner { position: absolute; top: -140px; right: 0;}
    .paging { margin-top: 50px; width: 100%; font-size: 0;text-align: center;}
    .swiper-pagination { position: relative; display: inline-block; width: 100px; position: relative; margin: 0; justify-content: center; vertical-align: middle; bottom: auto; font-weight: 700; color: #333; font-size: 28px; z-index: 1;}

    .swiper-prev, .swiper-next { display: inline-block; text-indent: -99999px; width: 130px; height:40px; vertical-align: middle; position: relative; top: auto; bottom: auto; transform: none; z-index: 1; transition: .3s ease;}
    .swiper-prev { background: url($main + "ico_prev4.png") no-repeat center; }
    .swiper-next { background: url($main + "ico_next4.png") no-repeat center; }
    
    .swiper-prev:hover { background-position: calc(50% - 10px) 50%; }
    .swiper-next:hover { background-position: calc(50% + 10px) 50%;  }

}


.section4 { height: 970px; overflow: hidden; position: relative; padding: 170px 0 0; box-sizing: border-box;

    .bg { background: url($main + "sec4_bg.jpg") no-repeat 50% 100%; background-size: cover; position: absolute; left: 0; top: 0; width: 100%; height: 100%; transition: 3s ease; transform: scale(1.1);}
    .bg-layer { background: rgba(0,0,0,.4) url($main + "sec4_layer.png") no-repeat 50% 100%; background-size: cover; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
    .left-txt-box { position: absolute; left: 0; top: 0;
        
        .tit { font-size: 48px; font-weight: 700; color: #fff;}
        .txt {  margin-top: 25px; font-size: 24px; line-height: 160%; color: #fff;}
        .view-btn { font-size: 30px; font-weight: 600;color: #fff; border: 3px solid #fff; box-sizing: border-box; max-width: 420px; text-align: center; width: 100%; display: inline-block; margin-top: 45px; padding: 11px 5px;}
        .view-btn::after { content: ''; display:inline-block; width: 27px; height: 37px; margin-left: 26px; background: url($main + "ico_morebtn3.png") no-repeat center; vertical-align: middle; margin-top: -1px; margin-right: -20px;}
    }
}

.section5 { overflow: hidden; position: relative; padding: 100px 0 120px; box-sizing: border-box; 

    .left-box { display: inline-block; margin-top: 100px; vertical-align: top;
    
        .sec-tit-box .section-txt { margin-top: 80px; font-weight: 600;}
    }

    .tit-list { margin-top: 60px;
    
        .tab { display: block; color: #767676; text-align: center; width: 180px; height: 54px; margin-top: 30px; box-sizing: border-box; border: 1px solid #ddd; line-height: 54px; font-size: 24px;}
        .tab:first-child { margin-top: 30px; transition: .3s ease;}
        a { display: block; width: 100%; height: 100%; transition: .3s ease; color: #767676; line-height: 54px;}

        .active { border-color: #333332; background-color: #333; color: #fff; font-weight: 500;}
        .active a { background-color: #333; color: #fff;}
    }
    .tab-con {display: inline-block; float: right; position: relative;}
    > .inner::after { content: ''; display: block; clear: both; }

    .board-card-box { width: 880px; margin: 0 -20px; vertical-align: top; display: inline-block; font-size: 0;
    
        .item { position: relative; vertical-align: top; display: inline-block; font-size: 16px; width: calc(50% - 40px); margin: 0 20px 30px;height: 480px; box-sizing: border-box; border: 1px solid #ccc;}
        a { display: block; width: 100%; height: 100%; padding: 26px 46px 60px; box-sizing: border-box;}
        .img-wrap { position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: #eee; z-index: -1; overflow: hidden; transition: .3s ease;
        
            &::before { content: ''; display: inline-block; width: 100%; height: 100%; position: absolute; left: 0; top: 0; background:#eee url($main + "noimg2.jpg") no-repeat 50% 38%; background-size: contain; z-index: -1;}
        }
        .img { background-color: #eee; display: block; width: 100%; height: 100%;}
        img { position: absolute; max-width: none; left: 50%; transform: translateX(-50%); top:0; height: 100%; opacity: .4;}

        span { display: block;}
        .txt-wrap { position: relative; height: 100%;}
        .bottom { position: absolute; bottom: 0; left: 0; overflow: hidden; height: 150px;}
        .day { font-size: 72px; font-weight: 700; color: #333; margin-left: -10px; line-height: 100%; letter-spacing: -3px;}
        .month { font-size: 18px; font-weight: 500; color: #333; margin-top: 5px; line-height: 100%;}
        .type { color: #767676; font-weight: 600;}

        .tit { word-break: keep-all; font-size: 20px; font-weight: 700; overflow: hidden; display: block; text-overflow: ellipsis; word-wrap: break-word; display: -webkit-box; color: #333; -webkit-line-clamp: 2; -webkit-box-orient: vertical;line-height: 24px; width: 100%; margin-top: 5px;}
        .txt { margin-top: 15px; font-size: 14px; color: #333;  box-sizing: border-box; line-height: 20px; text-overflow: ellipsis; font-weight: 500;}

    }
    .cover { position: absolute; left: 0; top: 0; width: 100%; height: 100%;  display: flex; align-items: center; justify-content: center; transition: .3s ease; //opacity: 0;
        .view-btn { color: #fff; border: 1px solid #ffff; display: inline-block; width: 160px;padding: 7px 10px; box-sizing: border-box; font-size: 20px; font-weight: 500; text-align: center; position: relative; z-index: 1; opacity: 0; transition: .3s ease;}
    
        &::before, &::after { content: ''; width: 100%; height: 1px; position: absolute; left: 0; background-color:rgba(0,0,0,.5); transition: .3s ease; opacity: 0;}
        
        &::before {top: 0; }
        &::after { bottom: 0;}
    }

    .more-btn { position: absolute; left: -107px; top: 180px;}
    
    .item:hover {

        // .img-wrap { filter: blur(10px);}
        .view-btn { opacity: 1; transition-delay: .4s;}
        .cover { opacity: 1;
            &::before, &::after { height: 50%; opacity: 1;}
        }
    }
}








/* height */
// @media screen and (max-width: 1800px) and (max-height: 800px) {
//     .typing { font-size: 55px;}
//     .main-type-wrap { padding-top: 180px;}
//     .section3 .media-slider .vis-inner .vis-add { right: 50px; bottom: 50px;}
//     .vis-txt-wrap .vis-tit { font-size: 50px;}
//     .vis-txt-wrap .vis-txt { font-size: 30px;}
//     .section2 .blind-wrap .item { padding-top: 100px;}
//     .section2 .blind-tit { font-size: 50px;}
//     .section2 .blind-wrap .explan { font-size: 30px;}
//     .section2 .blind-wrap .more-btn { bottom: 50px;}
//     .section2 .blind-wrap .detail { font-size: 25px;}
//     .vis-txt-wrap { top: 25%; transform: translate3d(-50%, 0, 0) !important;}
//     .section3 .media-slider .slide3 .vis-txt-wrap { top: 13%;}
//     .main-more-btn { width: 100px; height: 100px;}
//     .vis-txt-wrap .vis-txt { margin-top: 15px; font-size: 22px;}
//     .section3 .media-slider .slide3 .vis-txt-wrap .vis-txt { margin-top: 15px;}
//     .section2 .blind-wrap .blind-list { margin-top: 40px;}

// }



/* width */
@media screen and (max-width: 1400px) { 
    

    .main-vis {

        // .main-type-wrap {text-align: center;}
        .typing { font-size: 50px; min-width: 750px; display: inline-block; text-align: left;}
    }

    .section2 .blind-wrap { display: block; font-size: 0; height: auto;}
    .section2 .blind-wrap .item { font-size: 15px; display: inline-block; width: 50%; min-width: auto; padding: 80px 5px 220px;}
    .section2 .blind-wrap .item.on { width: 50%; min-width: auto;}
    .section2 .blind-wrap .item .more-btn { opacity: 1;}
    .section2 .blind-wrap .item .detail { opacity: 1; display: block; margin: 30px 0 0 0;}

    .section3 { overflow: hidden;}
    .section3 .media-slider>.swiper-wrapper>.swiper-slide { position: relative; max-height: none; height: 100vh}
    .section3 .bg { display: none; transform: none !important;}
    .fixed-menu-position { display: none;}

    .notice-slider-wrap .swiper-btn {display: none;}
    .section2 .txt-swiper .slide-bg { width: 70%;}

}


@media screen and (hover: none) and (pointer: coarse) {
    // 모바일 기기일 시 section3 좌우 커튼 기능 숨김
    
}

@media screen and (max-width: 1300px) {

    .section5 .left-box { width: 100%;}
    .section5 .tab-con {float: none; width: 100%;}
    .sec-tit-box.type2 .section-tit br { display: none;}
    .section5 .left-box .sec-tit-box .section-txt { margin-top: 30px;}
    .section5 .tit-list { margin: 20px -10px 0; font-size: 0;}
    .section5 .tit-list .tab { display: inline-block; width: calc(33.3% - 20px); margin: 20px 10px 0;}
    .section5 .tab-list { margin: 0 -10px;}
    .section5 .board-card-box { width: 100%; margin: 40px 0 0; display: flex; flex-wrap: wrap; justify-content: center;} 
    .section5 .more-btn { right: 0; left: auto; top: -210px;}
    .section5 .board-card-box .item { margin: 0 10px 20px; width: calc(50% - 20px);}
}
@media screen and (max-width: 1200px) {

    .main-vis .txt-box .t1 { font-size: 21px; text-align: left;}
    .main-vis .txt-box .t2 { font-size: 40px; text-align: left;}

    
}
@media screen and (max-width: 900px) {


} 
@media screen and (max-width: 768px) {

    .main-vis { height: 565px;}
    .main-vis .left-btn-box { top: 100px;}
    .main-vis .left-btn-box a { background-color: rgba(51,51,51,.7);}
    .main-vis .vis-bottom-box { top: 250px; bottom: auto;width: 100%; text-align: center;}
    .main-vis .vis-control-box { width: 100%;}
    .main-vis .vis-control-box .stop-btn { position: absolute; left: 0;}
    
    .main-vis .vis-control-box .donut-ring { stroke-width: 5px; stroke: #aaa;} 
    .main-vis .vis-control-box .donut-segment { stroke-width: 5px;}
    .main-vis .vis-control-box .paging { margin-left: 0;}
    .main-vis .vis-calendar-wrap { display: none;}
    .main-vis .ico-scroll { bottom: 95px;}
    .section2 {height: 565px}
    .section2 .title-inner { padding-top: 52px;}
    .section2 .txt-swiper .slide-bg { display: none;}
    .section2 .more-btn { display: none;}
    .section2 .txt-swiper-wrap { height: auto; top: auto; bottom: 0; transform: translateY(50%);}
    .section2 .slide-txt-wrap { height: auto; position: relative; top: auto; background-color: #eee;  padding: 35px 20px 30px; width: 100%;}
    .section2 .slide-txt-wrap .bottom-btn { position: relative; text-align: right; right: auto; bottom: auto; margin-top: 17px;}


    .section2 .txt-swiper { overflow: visible;} 
    .section2 .txt-swiper-wrap .paging-inner { top: -150px; transform: none; left: 0; width: 100%;}
    .section2 .txt-swiper-wrap .paging { position: relative; top: 0; left: 0; width: 100%;
        .swiper-btn { position: absolute; width: 33px; height: 64px; background-color: transparent;}
        .swiper-btn:hover { background-color: transparent;}
        .swiper-button-prev { left: 30px; background: url($main + "ico_prev5.png") no-repeat center;}
        .swiper-button-next { right: 30px; background: url($main + "ico_next5.png") no-repeat center;}
    }
    .slide-txt-wrap .txt { height: 100px;}

    .section3 { margin-top: 112px; padding-top: 80px; padding-bottom: 0;}
    .section3 .btn-inner { top: -200px;}
    .section3 .tit-list { width: 100%; }
    .section3 .tit-list .tab { width: calc(33.3% - 20px); margin: 0 10px;}
    .section3 .tit-list .tab a { font-size: 20px; width: 100%; box-sizing: border-box;}
    .section3 .tit-list .tab:last-child { margin-right: 10px;}
    // .section3 .tab-con { position: inherit;}
    .section3 .tab-list { overflow: visible; position: inherit;}
    .section3 .tab-list .swiper-slide { opacity: 1;}
    .section3 .tab-list .swiper-slide .img-wrap { width: 100%;}
    .section3 .tab-list .swiper-slide .img-wrap img { width: 100%;}
    .section3 .swiper-pagination { font-size: 24px;}
    .section3 .swiper-prev, .section3 .swiper-next { width: 70px; background-size: 50px;}

    .section4 { padding: 50px 35px 0; height: 565px;}
    .section4 .left-txt-box .tit { font-size: 35px;}
    .section4 .left-txt-box .txt { font-size: 16px;}
    .section4 .left-txt-box .view-btn { font-size: 18px; position: absolute; bottom: 80px; left: 50%; transform: translateX(-50%); }
    .section4 .inner { height: 100%;}
    .section4 .left-txt-box { height: 100%; width: 100%;}
    .section5 { padding: 60px 0;}
    .section5 .left-box { margin-top: 0; width: 100%;}
    .sec-tit-box.type2 .section-tit br { display: none; margin-right: 5px;}
    .section5 .left-box .sec-tit-box .section-txt { margin-top: 25px;}
    .section5 .more-btn {right: 0; left: auto; top: -200px; margin-top: 0;}
    .section5 .tit-list { margin-top: 50px;}
    .section5 .tit-list .tab { height: auto; margin-right: 15px; width: auto; display: inline-block; margin-top: 10px;}
    .section5 .tit-list .tab:first-child { margin-top: 10px;}
    .section5 .tit-list .tab a { display: block; padding: 9px 13px; box-sizing: border-box; line-height: 100%; height: auto; font-size: 20px;}


    .section5 .board-card-box .item { width: calc(100% - 20px);}
    .section5 .board-card-box .item:nth-child(3), .section5 .board-card-box .item:nth-child(4) { display: none;}
    .section5 .cover { display: none;}

} 

@media screen and (max-width: 480px) {
    
    .section2 .txt-swiper-wrap .paging { 
        .swiper-btn { background-size: 50%;}
        .swiper-button-prev { left: 15px;}
        .swiper-button-next { right: 15px;}
    }
    .sec-tit-box .section-tit { font-size: 35px;}
    .section4 .left-txt-box .tit { font-size: 24px;}
    .section4 .left-txt-box .txt { font-size: 12px;}
    .section3 .tit-list .tab { width: calc(50% - 20px); margin: 20px 10px 0;}
    .section3 .tit-list .tab:first-child { width: calc(100% - 20px);}
    .section5 .more-btn {font-size: 15px; }
    .section4 .left-txt-box .view-btn { padding: 0;}
}

@media screen and (max-width: 380px) {
    .section2 .slide-txt-wrap .txt { font-size: 14px;}

}

